Package: com.128keaton.gmorning
Name: G'mornin
Depends: mobilesubstrate
Version: 0.0.1-31
Architecture: iphoneos-arm
Description: Bananana phone!
Maintainer: Keaton Burleson
Author: Keaton Burleson
Section: Tweaks
Depiction: http://128keaton.com/cydia/depictions?com.128keaton.gmorning